doctype 5
html(lang="en")
  head
    title Fingerboard Scales
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    link(rel="stylesheet", type="text/css", href="./main.css")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js")
  body
    h1 Fingerboard Scales

    .module
      h2#instruments
        span Violin
        span Viola
        span.selected Cello
      #fingerboard
    .module
      h2 Scale root
      #keyboard
    .module
      h2 Scale
      #scales

    #scale-notes

    a#fork-me(href="https://github.com/osteele/fingerboard")
    script(src="./fingerboard.js")
    script(src="http://localhost:35729/livereload.js")
