h1 {
  padding: 0;
  margin: 0;
  font-size: large;
}

h2 {
  padding: 0;
  font-size: medium;
  text-align: center;
}

#fingerboard,
#keyboard,
#scales,
.fl
{
  float: left;
  padding: 5px;
}

#forkme {
  position: absolute;
  right: 0;
  top: 0;
  width: 149px;
  height: 149px;
  background: url(https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png)
}
