.module
{
  float: left;
  padding: 5px;
  margin: 5px;
  background: rgba(255,255,255,.5);
}

#scale-notes {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.1;
  max-width: 100%;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);

  &.animate {
    -webkit-transition: left 2s, top 2s, -webkit-transform 2s;
  }
}

#fork-me {
  position: absolute;
  right: 0;
  top: 0;
  width: 149px;
  height: 149px;
  background: url(https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png)
}
