h1 {
  padding: 0;
  margin: 0;
  font-size: large;
}

h2 {
  padding: 0;
  font-size: medium;
  text-align: center;
}

h2#instruments {
  font-weight: normal;
}

h2#instruments span:hover {
  cursor: pointer;
  text-decoration: underline;
}

h2#instruments .selected {
  font-weight: bold;
}

#instruments span:before {
  content: " | ";
  font-weight: normal;
}

#instruments span:first-child:before {
  content: "";
}

#fingerboard,
#keyboard,
#scales,
.module
{
  float: left;
  padding: 5px;
}

#forkme {
  position: absolute;
  right: 0;
  top: 0;
  width: 149px;
  height: 149px;
  background: url(https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png)
}
