@mixin vendor-prefix($name, $value) {
  @each $prefix in ('', '-moz-', '-ms-', '-webkit-') {
    #{$prefix}#{$name}: $value;
  }
}

html {
  /* http://css-tricks.com/perfect-full-page-background-image/ */
  background: #1F2221 url(images/violin-scroll.jpg) no-repeat center center fixed;
  @include vendor-prefix(background-size, cover);
}

body {
  background: transparent;
  font-size: 16px;
  font-family: "Open Sans", serif;
  overflow: hidden;
}

h1 {
  font-family: "Abel", Arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
  padding-left: 10px;
  color: white;
}

.module {
  float: left;
  padding: 5px;
  margin: 5px;
  background: rgba(255, 255, 255, 0.5);
}

body.loading .module { display: none; }

h2.panel-title span.dropdown a.dropdown-toggle { color: rgb(51, 51, 51) }

#instrument-selector:hover {color: blue; background: lightGray; text-decoration: underline}
#instrument-selector .dropdown-toggle::before {content: "\25B6";}

#templates { display: none; }

$root-color: rgb(255, 96, 96);
$fifth-color: rgb(192, 192, 255);

#scale-notes {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.2;
  @include vendor-prefix(transform, translate3d(0, 0, 0));

  &.animate {
    transition: left 2s, top 2s, transform 2s;
    -moz-transition: left 2s, top 2s, -moz-transform 2s;
    -webkit-transition: left 2s, top 2s, -webkit-transform 2s;
  }

  circle {
    fill: green;
  }

  .chromatic circle {
    fill: none;
  }

  .tonic circle {
    fill: red;
  }

  .fifth circle {
    fill: blue;
  }

  text {
    font-size: 16px;
    fill: white;
    text-anchor: middle;
  }
}

#fingerings .btn {
  margin: 0;
  padding: 4px;
  font-size: 12px;
}

#fork-me {
  position: absolute;
  right: 0;
  top: 0;
  width: 149px;
  height: 149px;
  background: url(https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png)
}

#about {
  position: absolute;
  top: 22px;
  left: 302px;
  color: gray;
  cursor: pointer;
  @include vendor-prefix(transition, color 0.25s);

  &:hover { color: white; }
}

#about-container {
  .popover {
    max-width: 600px;
    width: 600px;
  }

  .popover-content {
    font-size: small;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: small;

  p { margin: 0; }

  .muted a { color: gray }
}

svg text {
  cursor: default;
}

#fingerboard {
  display: block;

  .nut {
    stroke-width: 4;
    stroke: rgb(64, 64, 64);
  }

  .string {
    stroke-width: 2;
    stroke: silver;
  }
}

#fingerboard .finger-position {
  circle {
    stroke: blue;
    fill: none;
    transition: fill-opacity 0.8s, stroke 0.4s, transform 1s;
    -moz-transition: fill-opacity 0.8s, stroke 0.4s, -moz-transform 1s;
    -webkit-transition: fill-opacity 0.8s, stroke 0.4s, -webkit-transform 1s;
  }

  text {
    fill: black;
    font-size: 20px;
    text-anchor: middle;
  }

  .note { letter-spacing: -2px; }
  .accidental { baseline-shift: 0%; font-size: 70%; }

  &.scale {
    circle { fill: lightGreen; }

    &.relative-pitch-class-0 {
      circle { fill: $root-color; }
    }

    &.relative-pitch-class-7 {
      circle { fill: $fifth-color; }
    }
  }

  &.chromatic {
    circle {
      stroke: white;
      fill-opacity: 0;
      stroke-opacity: 0;
    }

    text {
      fill: gray;
      font-size: 15px;
    }
  }
}

#keyboard .piano-key {
  cursor: pointer;

  rect {
    fill: white;
    stroke: black;
  }

  text {
    cursor: inherit;
    font-size: 20px;
    letter-spacing: -1px;
    text-anchor: middle;
  }

  &.black-key {
    rect { fill: black; }

    text {
      font-size: 12px;
      fill: white;
    }
  }

  &.root rect {
    fill: $root-color !important;
  }

  &.black-key.root rect {
    fill: darken($root-color, 45%) !important;
  }

  &.fifth.scale-note rect {
    fill: $fifth-color !important;
  }

  &.black-key.fifth.scale-note rect {
    fill: darken($fifth-color, 75%) !important;
  }

  &:hover rect, &.root:hover rect, &.fifth:hover rect {
    fill: gray !important;
    @include vendor-prefix(transition, fill 0.2s);
  }
}

body.hide-sharp-labels {
  .sharp-label { display: none; }
}

body.hide-flat-labels {
  .flat-label { display: none; }
}

@for $i from 0 through 11 {
  body.scale-includes-pitch-class-#{$i} {
    #keyboard .pitch-class-#{$i}.white-key rect {
      fill: lighten(green, 65%);
    }

    #keyboard .pitch-class-#{$i}.black-key rect {
      fill: darken(green, 10%);
    }
  }

  body.hover-note-pitch-class-#{$i} {
    #fingerboard .pitch-class-#{$i} {
      stroke-width: 2px;
      filter:url(#hovered-scale-note);
    }

    #keyboard .pitch-class-#{$i} {
      stroke-width: 3px;
      filter:url(#hovered-scale-note);
    }
  }

  body.hover-note-relative-pitch-class-#{$i} {
    .scale .relative-pitch-class-#{$i} {
      stroke-width: 2px;
      filter:url(#hovered-scale-note);
    }
  }
}

#scales, #modes {
  background: white;
  border: 1px solid gray;
  width: 290px;

  .scale {
    background: white;
    cursor: pointer;
    // float: left;
    width: 90px;
    border: 1px solid black;
    margin: 0 0 3px 3px;
    padding: 2px 2px 5px;
    border-radius: 2px;
    @include vendor-prefix(border-radius, 2px);

    &.selected { background: lightBlue !important; }

    &:hover { background: lightGray; }

    h3 { font-size: x-small; margin: 0 0 5px 0; text-align: center; }

    svg { display: block; margin-left: auto; margin-right: auto; }

    circle {
      fill: gray;
      stroke: black;
      &.chromatic { fill: none; }
      &.root { fill: darken($root-color, 5%); }
      &.fifth { fill: darken($fifth-color, 15%); }
    }

    line { stroke: gray; }
    line.chromatic { stroke: none; }
  }
}

#modes .scale h3 { min-height: 4.5ex; }
